.PostList {
    flex: 1;
    padding: 40px 40px;
}
  
.PostListPost {
    display: flex;
    align-items: center;
}

.PostListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.PostListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.PostListDelete{
    color: red;
    cursor: pointer;
}

.PostListControll {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

.btnAddPost {
    background-color: darkblue;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}